@model IEnumerable<Hospital.Models.Patients>

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white-50">Patients</h2>
                </hr>
            </div>
        </div>
    </div>
</div>

<div class="card-body p-4">
    <div class="row pb-3">
        <div class="col-6"></div>
        <div class="col-6 text-end">
            <a asp-controller="Patients" asp-action="Add" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>Add Here
            </a>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Problem</th>
                <th scope="col">Age</th>
                <th scope="col">Blood Group</th>
                <th scope="col">Contact</th>
                <th scope="col">City</th>
                <th scope="col">Record</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var v in Model)
            {
                <tr>
                    <td>@v.Id</td>
                    <td>@v.Name</td>
                    <td>@v.Problem</td>
                    <td>@v.Age</td>
                    <td>@v.BloodGroup</td>
                    <td>@v.PhoneNumber</td>
                    <td>@v.City</td>
                    <td>@v.Record</td>
                    @* <td>@v.ImageUrl</td>*@
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Patients" asp-action="Edit" asp-route-Id="@v.Id" class="btn btn-outline-primary w-25 mx-2">
                                @* <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"  />*@<i class="bi bi-pencil-square"></i>Edit
                            </a>
                        </div>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Patients" asp-action="Delete" asp-route-Id="@v.Id" class="btn btn-outline-danger w-25 mx-2">
                                @* <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"  />*@<i class="bi bi-pencil-square"></i>Delete
                            </a>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
